.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 45, 58, 0.7);
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50vw;
  height: auto;
  background-color: #fff;
}

.img {
  width: 100%;
  height: auto;
}
